/* Warna Aksen Pink */
:root {
    --color-primary:  #e68a8d; 
    --color-secondary: #ece3d2; 
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:beige;
    line-height: 1.5;
    font-size: 16px;
    padding: 100px;

}

.cv-container{
    background-color:white;
    width: 90%;
    max-width: 900px;
    padding: 30px;
    margin: 20px auto;
}

h1{
    color: black;
}

h2{
    color: var(--color-primary);
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 3px solid var(--color-primary);
}

.header-section{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.header-content
{
    display: flex;
    padding: 15px 0;
    width: 100%;
    gap: 20px;
}

.foto-profil img
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid var(--color-primary);
    object-fit: cover;
}

.slogan-cv
{
    text-align: justify;
    width: auto;
    margin-top: 10px;
    font-style: italic;
    padding: 10px;
    font-size: 14px;
    background-color: var(--color-secondary);
    border-left: 3px solid var(--color-primary);
}

.main-content
{
    display: flex;
}

.kiri-pengalaman
{
    width: 70%;
    padding-left: 0px;
    margin: 10px;
}

.kanan-skill
{
    width: 30%;
    background-color: var(--color-secondary);
    padding: 20px;
}

.kanan-skill li
{
    color: black;
}

.exp-item
{
    border-left: 3px solid var(--color-primary);
    padding-left: 10px;
}

.video-section
{
    margin-top: 30px;
}

footer{
    text-align: center;
    background-color: var(--color-secondary);
    padding: 10px 10px;
    margin-top: 20px;
}